# Auto detect text files and perform LF normalization
* text=auto

# Python source
*.py text diff=python

# M3U playlist - keep LF
*.m3u text eol=lf
*.m3u8 text eol=lf

# Markdown
*.md text diff=markdown

# YAML
*.yml text
*.yaml text

# Git files
.gitattributes text
.gitignore text
